html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    #background: #007bff;
    #background: linear-gradient(to right, #0062E6, #33AEFF);
}

p#contract_num span{
    margin: 5px;
}
